<!DOCTYPE html>
<html ng-app="translateMod">
<head>
	<title>Node 9</title>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.js"></script>
	<script type="text/javascript" src="../javascripts/translateMod.js"></script>
	<script type="text/javascript" src="../javascripts/translateCtrl.js"></script>
	<script type="text/javascript" src="../javascripts/translateFac.js"></script>
</head>
<body ng-controller="translateCtrl">
	<h1>{{greeting}}</h1>

	<form ng-submit="translateThis()">
		<select ng-model="translation.languageFrom" ng-options="language.code as language.name for language in languages"></select>
		<input ng-model="translation.text" placeholder="text"></input>
		<select ng-model="translation.languageTo" ng-options="language.code as language.name for language in languages"></select>
		
		<input type="submit" value="Submit"></input>
	</form>

	<h2>{{showText}}</h2>


	<a href="/login"><button>Login or Create an Account</button></a>
</body>
</html>